{% extends 'base.html' %}

{% block title %}
  Новости
{% endblock %}


{% block content %}
  {% for item in news %}
      <div class="card mt-3">
        <div class="media">
          {% if item.photo %}
            <img width="300" src="{{ item.photo.url }}" alt="">
          {% endif %}
          <div class="media-body">
            <h5 class="card-header">Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a></h5>
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.content|safe|linebreaks|truncatewords:50 }}</p>
              <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
      </div>
  {% endfor %}
{% endblock %}