<ul class="list-group">
    {% for item in categories %}
        <a aria-current="page" href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action d-flex justify-content-between">
            <span>{{ item }}</span>
            <span class="badge badge-primary bg-primary">{{ item.news__count }}</span>
        </a>
    {% endfor %}
</ul>