{% extends 'base.html' %}

{% block title %}
  Новости
{% endblock %}


{% block content %}
      <div class="card mt-3">
        <h5 class="card-header">Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a></h5>
        <div class="card-body">
          <div class="media">
            {% if news_item.photo %}
              <img width="300px" src="{{ news_item.photo.url }}" alt="">
            {% endif %}
            <div class="media-body">
              <h5 class="card-title">{{ news_item.title }}</h5>
              <p class="card-text">{{ news_item.content|safe|linebreaks }}</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
