{% load news_tags %}
<nav class="nav flex-column">
    {% get_list_categories as categories %}
    {% for item in categories %}
      <a class="nav-link active" aria-current="page" href="{{ item.get_absolute_url }}">{{ item }}</a>
    {% endfor %}
</nav>

{% show_categories %}